<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DriveTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0D3DF1211186F900A9EE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0D3E05211186FB00A9EE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0D3E10211186FB00A9EE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
